.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.google{
    padding: 24;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20;
    font-size: 20;
}